

.register-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   
    }
    
  
  
  .register-form .form-group {
    margin-bottom: 15px;
  }
  
  .btn-block {
    width: 100%;
  }
  